*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

.voltar{
    width: 100%;
    margin-bottom: 25px;
}

.voltar button{
    display: inline-flex;
    align-items: center;
    gap: 8px;

    padding: 12px 22px;

    background: #d4af37;
    color: #fff;

    border: none;
    border-radius: 50px;

    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    transition: .3s;
}

.voltar button:hover{
    background: #b8922d;
    transform: translateX(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,.2);
}

.voltar i{
    font-size: 15px;
}

body{

background:
linear-gradient(rgba(15,15,15,.75),rgba(15,15,15,.75)),
url(logo/bg..jpeg);

background-size:cover;
background-position:center;
background-attachment:fixed;

padding:40px 20px;

}

.container{

max-width:1200px;
margin:auto;

}

header{

text-align:center;
margin-bottom:50px;

}

.logo{

width:130px;
height:130px;
border-radius:50%;
border:5px solid #d4af7a;
margin-bottom:20px;
object-fit:cover;

}

header h1{

font-size:42px;
color:#fff;

}

header p{

color:#ddd;
margin-top:10px;

}

.cards{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
gap:30px;

}

.card{

position:relative;

background:rgba(255,255,255,.08);

backdrop-filter:blur(18px);

border:1px solid rgba(255,255,255,.15);

border-radius:25px;

padding:35px;

text-align:center;

transition:.4s;

}

.card:hover{

transform:translateY(-10px);

box-shadow:0 20px 40px rgba(212,175,122,.35);

}

.card i{

font-size:60px;

color:#d4af7a;

margin-bottom:20px;

}

.card h2{

color:#fff;

margin-bottom:10px;

}

.card span{

display:block;

font-size:35px;

font-weight:700;

color:#d4af7a;

margin:20px 0;

}

.card ul{

list-style:none;

text-align:left;

margin-bottom:30px;

}

.card ul li{

color:#ddd;

padding:8px 0;

}

.card a{

display:inline-block;

padding:15px 40px;

background:#d4af7a;

color:#111;

text-decoration:none;

border-radius:40px;

font-weight:600;

transition:.3s;

}

.card a:hover{

background:#fff;

}

.destaque{

border:2px solid #d4af7a;

transform:scale(1.04);

}

.tag{

position:absolute;

top:20px;
right:20px;

background:#d4af7a;

color:#111;

padding:8px 15px;

border-radius:30px;

font-size:13px;

font-weight:700;

}